@model IEnumerable<int>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PickResults</title>
</head>
<body>
    <div> 
        <p>You selected the tractor classes with IDs: @string.Join(",", Model)</p>
    </div>
</body>
</html>
