
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tractor Fan Site</title>
</head>
<body>
    <div> 
        <h1>
            Welcome to the home of Big Chief!
        </h1>
    </div>
</body>
</html>
