@model Nate_TipCalculator.Models.Tip
@{
    ViewBag.Title = "GetTipCalculation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h2>These are the details of your tip!</h2>
    <table class="table table-hover">
        <tr>
            <td><strong>Meal Type</strong></td>
            <td>@Model.MealType</td>
        </tr>
        <tr>
            <td><strong>Meal Cost</strong></td>
            <td>@Model.MealCost</td>
        </tr>
        <tr>
            <td><strong>Tip Percentage</strong></td>
            <td>@Model.TipPercentage</td>
        </tr>
        <tr>
            <td><strong>Tip Total</strong></td>
            <td>@Model.TipTotalForMeal</td>
        </tr>
    </table>

</div>

