@model MarvelAPI.Models.MarvelResultVM

@{
    ViewBag.Title = "SearchByName";
}

<h2>Results should show here</h2>
<div class="container">
    @foreach (MarvelAPI.Models.CharJson character in Model.SearchResults.CharacterData.characterList)
    {
        <div onclick="location.href='@character.CharURLs.FirstOrDefault(c=>c.URLType == "detail").URLValue'" class="col-sm-3 table-bordered">
            @character.CharName
            <br />
            <img src="@character.CharThumb.ThumbURL.@character.CharThumb.ThumbExt" height="300px" title="@character.CharDescription"/>
            <br/>
        </div>
    }

</div>


